app = "momento2-orgasmtoy"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  SITE_NAME = "orgasmtoy.com"
  SITE_ENV = "production"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

  [[http_service.checks]]
    grace_period = "10s"
    interval = "30s"
    method = "GET"
    timeout = "5s"
    path = "/"

[mounts]
  source = "momento2_data"
  destination = "/var/www/html/var"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512