app = "magneto-orgasmtoy"
primary_region = "arn"

[build]
  dockerfile = "Dockerfile"

[env]
  SITE_NAME = "orgasmtoy.com"
  SITE_ENV = "production"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

  [[http_service.checks]]
    grace_period = "10s"
    interval = "30s"
    method = "GET"
    timeout = "5s"
    path = "/"

[mounts]
  source = "magento_data"
  destination = "/var/lib/mysql"

[[vm]]
  cpu_kind = "shared"
  cpus = 2
  memory_mb = 2048