containerMode:
  type: dind
controllerServiceAccount:
  name: arc-controller
  namespace: arc-systems
githubConfigSecret: arc-runner-secret-mikkihugo
githubConfigUrl: https://github.com/mikkihugo/magneto-web
maxRunners: 5
minRunners: 0
template:
  spec:
    containers:
    - args:
      - |
        exec /home/runner/run.sh
      command:
      - /bin/bash
      - -c
      env:
      - name: ACTIONS_RUNNER_REQUIRE_JOB_CONTAINER
        value: "false"
      - name: RUNNER_SUPPORTS_CONTAINERS
        value: "true"
      - name: FLAKECACHE_RUNNER
        value: "true"
      - name: ATTIC_SERVER
        value: http://attic.actions-runner-system.svc.cluster.local:8080
      - name: ATTIC_TOKEN
        valueFrom:
          secretKeyRef:
            key: token
            name: attic-runner-token
      image: ghcr.io/actions/actions-runner:latest
      name: runner
      resources:
        limits:
          ephemeral-storage: 10Gi
        requests:
          ephemeral-storage: 5Gi
      volumeMounts:
      - mountPath: /nix
        name: nix-store
      - mountPath: /home/runner/_work
        name: work
    - image: docker:dind
      name: dind
      securityContext:
        privileged: true
      volumeMounts:
      - mountPath: /home/runner/_work
        name: work
      - mountPath: /var/lib/docker
        name: dind-storage
    volumes:
    - name: nix-store
      persistentVolumeClaim:
        claimName: nix-store-pvc
    - emptyDir: {}
      name: work
    - emptyDir: {}
      name: dind-storage
