<?xml version="1.0"?>
<!--
/**
 * Sex Toys Catalog Module Configuration
 *
 * @category  Sex_Toys_Catalog
 * @package   Sex_Toys_Catalog
 * @author    OGT Web Team
 * @copyright Copyright (c) 2025 OGT Web
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Sex_Toys_Catalog" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_Eav"/>
            <module name="Magento_ImportExport"/>
        </sequence>
    </module>
</config>