{
    email support@ownorgasm.com
}

# --- Admin & API ---
admin.ownorgasm.com {
    reverse_proxy medusa:9000
}

# --- Shop 1: OwnOrgasm ---
ownorgasm.com, www.ownorgasm.com {
    reverse_proxy storefront:3000
}

# --- Shop 2: OrgasmToy ---
orgasmtoy.com, www.orgasmtoy.com {
    reverse_proxy storefront:3000
}
