<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <section id="klarna_checkout" translate="label" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
      <label>Klarna Checkout</label>
      <tab>sales</tab>
      <resource>Klarna_Checkout::config</resource>
      <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>General Settings</label>
        <field id="merchant_id" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Merchant ID</label>
          <frontend_type>text</frontend_type>
        </field>
        <field id="shared_secret" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Shared Secret</label>
          <frontend_type>password</frontend_type>
        </field>
        <field id="test_mode" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Test Mode</label>
          <frontend_type>select</frontend_type>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
      </group>
    </section>
  </system>
</config>
