name: Deploy to Fly.io

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

concurrency:
  group: deploy
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy ogt-web to Fly.io
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write      # For attestations
      attestations: write  # For GitHub attestations
    steps:
      - uses: actions/checkout@v4

      - uses: flakecache/nix-installer@v1.0.6

      - uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy to Fly.io
        run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
